.wrapper{
    height:1200px;
    width:1200px;
    display: grid;
    grid-template-columns:40% 20% 40%;
    grid-template-rows:40% 20% 40%;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
}
.griditems{
    border: 1px solid red;
    /* background-color: aqua; */
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
    /* height:450px;
    width:450px; */
}
.box2{
      grid-column:2/3; 
      grid-row: 1/2;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.box3{
    grid-column: 3/4;
     grid-row: 1/2;
}
.box4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.box5{
    grid-column: 2/ 3;
    grid-row: 2/3;
}
.box6{
    grid-column: 3/ 4;
    grid-row: 2/3;
}
.box7{
    grid-column: 1/ 2;
    grid-row: 3/4;
}
.box8{
    grid-column: 2/ 3;
    grid-row: 3/4;
}
.box9{
    grid-column: 3/ 4;
    grid-row: 3/4;
} 
.box2 div{
    border:1px solid black;
}
.box2 div.green{
    background:green;
}
.box2 div.green :first-child{
     width: 50px;
    height: 40px; 
    background: white;
    border-radius:50%;
    margin:auto;
}
